h1{
    color: white;
    font-size: 18px;
    border: 1px solid;
    background-color: green;
    padding: 10px;
    border-radius: 10px;

    font-family: cursive;
}
#second-el{
    color: green;
}

ul{
    list-style: ":";
    background-color: lime;
    padding: 20px;
    border-radius: 20px;
    line-height: 28px;
    height: 200px;
    overflow: auto;
}

.code *{
    font-family: 'Courier New', Courier, monospace;
}

input[type="number"] {
    border: 1px solid red;
}

#magic li:nth-child(even){
    color: blue;
}
#magic li:nth-child(odd){
    color: red;
}





